{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="header position-relative">
    <div class="overlay">
        <div class="container">
            <div class="description text-center position-absolute" style="left: 0; right: 0; margin: auto;">
                <h1 class="display-4 script">Olá! Eu sou Acácio Vilela</h1>
                <p class="lead">DESENVOLVEDOR WEB</p>
                <!-- <hr class="m-y-md"> -->
                <p>Desenvolvedor Full Stack | PHP & Python Developer</p>
                <button class="btn btn-outline-info btn-more" data-value="about">Saiba Mais</button>
            </div>
        </div>
    </div>
</header>

<!-- About Me Section -->
<div class="container mb-5 mt-5 p-5 position-relative" id="about">
    <h2 class="mx-auto m-5 text-center text-info">Sobre Mim</h2>
    <div class="row mt-5">
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <img src="{% static 'home/img/logo.jpg' %}" class="w-75 img-fluid rounded-circle mb-2">
            <div class="text-muted">Full Stack Web Developer | PHP & Python</div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 border-left border-info">
            <h3 class="text-secondary">A. Vilela</h3>
            <p class="text-justify text-muted">
                Olá! Eu sou Acácio Vilela, um desenvolvedor focado na criação de ótimas experiências web.
                Programar tem sido minha paixão desde os dias em que comecei a trabalhar com computadores, mas eu me encontrei no mundo do desenvolvimento web desde 2006.
                Me divirto criando lindos, intuitivos e funcionais websites e aplicações web.
            </p>
            <p class="text-justify text-muted">
                Por mais de 5 anos, trabalhei para algumas agências e clientes maravilhosos para os quais pude entregar projetos com excelência.
                E agora, posso fazer isso para o seu negócio também.
                <a href="javascript: void(0);" class="btn btn-link text-reset btn-more" data-value="contact">Entre em Contato!</a>
            </p>
        </div>
    </div>
</div>

<!-- Portfolio Section -->
<div class="container mb-5 mt-5 p-5 position-relative" id="portfolio">
    <h2 class="mx-auto m-5 text-center text-info">Portfolio</h2>
    <div class="row justify-content-lg-center justify-content-md-center">
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp01.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp02.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp03.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp04.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp05.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp06.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp07.jpg' %}" class="img-fluid mb-2">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-2 shadow-sm m-3">
            <img src="{% static 'home/img/temp08.jpg' %}" class="img-fluid mb-2">
        </div>
    </div>
</div>

<!-- Skills Section -->
<div class="container mb-5 mt-5 p-5 position-relative w-75" id="skills">
    <h2 class="mx-auto m-5 text-center text-info">Skills</h2>
    <div class="lead text-center">
        Aqui estão algumas de minhas principais habilidades na área de desenvolvido web.
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
            <h4 class="mb-3">LINGUAGENS</h4>
            <p><i class="fas fa-plus pr-2"></i> PHP</p>
            <p><i class="fas fa-plus pr-2"></i> Python</p>
            <p><i class="fas fa-plus pr-2"></i> JavaScript</p>
            <p><i class="fas fa-plus pr-2"></i> HTML</p>
            <p><i class="fas fa-plus pr-2"></i> CSS</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
            <h4 class="mb-3">FRAMEWORKS/LIBS</h4>
            <p><i class="fas fa-plus pr-2"></i> Zend Framework v(1, 2, 3)</p>
            <p><i class="fas fa-plus pr-2"></i> Laminas Project</p>
            <p><i class="fas fa-plus pr-2"></i> Django</p>
            <p><i class="fas fa-plus pr-2"></i> Bootstrap</p>
            <p><i class="fas fa-plus pr-2"></i> JQuery</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
            <h4 class="mb-3">OTHERS</h4>
            <p><i class="fas fa-plus pr-2"></i> MySQL</p>
            <p><i class="fas fa-plus pr-2"></i> PostgreSQL</p>
            <p><i class="fas fa-plus pr-2"></i> Github</p>
            <p><i class="fas fa-plus pr-2"></i> Photoshop</p>
        </div>
    </div>
</div>

<!-- Contact Form Section -->
<div class="container mb-5 mt-5 p-5 position-relative" id="contact">
    <h2 class="mx-auto m-5 text-center text-info">Contato</h2>
    <div class="row justify-content-lg-center justify-content-md-center">
        <div class="col-lg-4 col-md-4 col-sm-12 p-2 border-right border-info">
            <h1 class="text-warning">Entre em Contato</h1>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 p-3">
            <form action="" method="post">
                <div class="form-group">
                    <input type="text" name="name" value="" class="form-control form-control-lg rounded-0" placeholder="Seu Nome">
                </div>
                <div class="form-group">
                    <input type="text" name="email" value="" class="form-control form-control-lg rounded-0" placeholder="Seu E-mail">
                </div>
                <div class="form-group">
                    <textarea name="message" rows="8" cols="80" class="form-control form-control-lg rounded-0" placeholder="Mensagem"></textarea>
                </div>
                <input type="submit" name="submit" value="Enviar" class="btn btn-lg btn-info btn-block rounded-0" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
