<footer class="mh-100">
    <div class="justify-content-center text-center">
        <a href="#"><i class="fab fa-github fa-2x fa-fw text-info rounded-circle mr-2"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x fa-fw text-info rounded-circle mr-2"></i></a>
        <a href="#" class="p-1"><i class="fab fa-stack-overflow fa-2x fa-fw text-info rounded-circle mr-2"></i></a>
    </div>
    <hr/>
    <p class="lead small text-center">&copy; 2020 Acácio Vilela. Todos os direitos reservados.</p>
</footer>
