{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeToggler" aria-controls="homeToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="javascript: void(0);" data-value="top">
        <img src="{% static 'home/img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top img-thumbnail rounded-circle" alt="">
        Acácio Vilela
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="homeToggler">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="javascript: void(0);" data-value="about">Sobre Mim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);" data-value="portfolio">Portfólio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);" data-value="skills">Skills</a>
            </li>
            {% if posts %}
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);" data-value="blog">Blog</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);" data-value="contact">Contato</a>
            </li>
        </ul>
    </div>
</nav>
