{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="display: none;">
    <a class="navbar-brand" href="javascript: void(0);" data-value="top">
        <img src="{% static 'home/img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top img-thumbnail rounded-circle" alt="">
        Acácio Vilela
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Home Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="homeNavbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="javascript: void(0);" data-value="about">Sobre Mim <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0);" data-value="portfolio">Portfólio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0);" data-value="skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0);" data-value="contact">Contato</a>
          </li>
        </ul>
    </div>
</nav>
