@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    padding: 0;
}

html,h1,h2,h3,h4,h5,h6,a,p {
 font-family: "Raleway";
}

.header {
    background-image: url('/static/home/img/header_background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}
.description{
    padding: 2em;
}
